.toggle-switch {
    width: 60px;
    height: 25px;
    border-radius: 15px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    transition: background-color 0.3s ease;
  }
  
  .toggle-switch.on {
    background-color: black;
  }
  
  .toggle-knob {
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-switch.on .toggle-knob {
    left: 31px;
  }
  